<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link type="text/css" rel="stylesheet" href="/css/board.css" />
    <title>IN.TRIP</title>
  </head>
  <body>
    <div id="header_container"></div>

    <div class="board_wrap">
      <div class="board_title">
        <strong>여행 후기</strong>
        <p>여행 팁이나 경험을 공유해보세요!</p>
      </div>
      <div class="board_list_wrap">
        <div class="board_list">
          <div class="top">
            <div class="num">번호</div>
            <div class="title">제목</div>
            <div class="author">글쓴이</div>
            <div class="date">작성일</div>
            <div class="count">조회</div>
          </div>

          <% for (let i = 0; i < list.length; i++) { %>
          <div>
            <div class="num"><%= list[i].boardid %></div>
            <div class="title">
              <a href="/view/<%= list[i].boardid %>"><%= list[i].title %></a>
            </div>
            <div class="author"><%= list[i].author %></div>
            <!-- <div class="date"><%= list[i].inserttime %></div> -->
            <div class="count"><%= list[i].viewcnt %></div>
          </div>
          <% } %>
        </div>

        <!-- <div class="board_page">
          <a href="#" class="bt first"><<</a>
          <a href="#" class="bt prev"><</a>
          <a href="#" class="num on">1</a>
          <a href="#" class="num">2</a>
          <a href="#" class="num">3</a>
          <a href="#" class="num">4</a>
          <a href="#" class="num">5</a>
          <a href="#" class="bt next">></a>
          <a href="#" class="bt last">>></a>
        </div> -->
        <div class="bt_wrap">
          <a href="/write" class="on">글쓰기</a>
          <!--<a href="#">수정</a>-->
        </div>
      </div>
    </div>

    <script>
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById('header_container').innerHTML =
            this.responseText;
        }
      };
      xhttp.open('GET', '/header', true);
      xhttp.send();
    </script>
  </body>
</html>
